# deployments/k8s/mud/templates/frontend/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mud
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
