# deployments/k8s/mud/templates/namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: mud
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": before-hook-creation
